<!-- <div class="container"> -->
  <div class="data-list col-xs-6 col-sm-4 col-md-3">
    <div class="user-box col-xs-12"></div>
  </div>
  <div class="data col-xs-6 col-sm-8 col-md-9">

  </div>
<!-- </div> -->
