<!-- <div class="container"> -->
  <div class="data-list col-xs-6 col-sm-4 col-md-3">
    <div class="user-box col-xs-12">
          <img src="https://randomuser.me/api/portraits/men/60.jpg" alt="random user" class="avatar-large">
              <h3>
                <%= current_user.first_name%>
                <%= current_user.last_name%>
              </h3>
              <h4>Logistics Manager</h4>
                <%= link_to edit_user_registration_path(current_user) do %>
                <h5> Edit Your Profile</h5>
                <% end %>

    </div>
    <div class="data-options">
        <ul>
          <li>
            <a href="#">
              Shipments
            </a>
          </li>
          <li>
            <a href="#">
              Requests
            </a>
          </li>
          <li>
            <a href="#">
              Customers
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div class="data col-xs-6 col-sm-8 col-md-9">
  </div>
<!-- </div> -->
