<%= form_for @shop do |f| %>
  <div>
    <div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <%= f.label :name, "Name"%>
        </div>
        <div class="col-sm-12 col-md-8">
          <%= f.text_field :name%>
          <p style="opacity:.4"><i>(Required)</i></p>
        </div>
      </div>
    </div>
  <br>
    <br>
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4">
      <%= f.submit "Save", :class => 'btn btn-default btn-block' %>
      <% end %>
    </div>
  </div>
