<h1>Shipments</h1>
<%= pie_chart [["Complete", @shop.shipments.where(status: 'Completed').count],
["Open", @shop.shipments.where(status: 'Open').count], ["Received", @shop.shipments.where(status: 'Received').count]]%>
