<nav id="footer" class="navbar navbar-default navbar-fixed-bottom css-2s1366">
  <div class="container css-2s1366">
    <div id="bs-nav-demo">
       <ul class="nav navbar-nav navbar-right footer">
       </ul>
    </div>
  </div>
</nav>
