
              <% @shop.customers.each do |customer| %>
                    <h3>
                      <%= customer.first_name %>
                      <%= customer.last_name %>
                    </h3>
              <% end %>
