// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data-list {
  background-color: $dark-blue;
  // color: white;
  height: 93vh;
}

.data {
  background-color: $light-green;
  height: 93vh;
}

.data-options {
  position: absolute;
  top: 300px;
}

.data-options>ul>li {
  float: right;
  padding-right: 10px;
  list-style-type: none;
  // display: block;
}
.data-options>ul>li>a {
  color: white;
  font-size: 18px;
  padding: 10px;
  display: block;
  text-decoration: none;
}
