// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
    background-color: $turquoise;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: white;
    // top: -50px;
    left: 0px;
    height: 20vh;
    z-index: 100;
    position: absolute;
}

.spacer {
  // margin-left: 150px;
}

.navbar {
    background-color: white;
    color: $dark-blue;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    z-index: 2;
}

.navbar-brand {
  .padding-bottom: 10px;
}
.navbar-toggle {
  margin-bottom: 0px;
  margin-top: 0px;
}

.data-list {
  background-color: $dark-blue;
  // color: white;
  height: 93vh;
}

.data {
  background-color: $light-green;
  height: 93vh;
}
