<% content_for :title, "Create A New Shipment" %>

<div class="container projects-container">
  <h3>Create A New Shipment</h3>

  <%= render partial: "form", locals: {shop: @shop, shipment: @shop.shipments.new} %>
</div>
